footer {
	/*background: #013220;
	background: #2f3d30;*/
	background: #3a4b3b;
	color: #fafafa;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/*width: 80%;
	margin-left: 10%;*/
	border-radius: 3px;
	height: 370px;
	margin-top: 50px;
	margin-bottom: 10px;
}
.footer-all-divs{
	display: flex;
	align-items: flex-start;
	padding-top: 60px;
	justify-content: space-around;
}

/*
#footer-contact-data{
	padding-left: 30px;
}

#footer-google-maps{
	margin-left: 70px;
}*/

#footer-datenschutz-impressum{
	margin-top: 85px;
}

#datenschutz-link{
	margin-right: 30px;
}