/*Smartphone Hochformat*/

@media (max-width: 414px) {
	body {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
	}

	/*Homepage*/
	.hero-image-all {
		height: auto;
	}

	.hero-image-text p {
		font-size: 22px;
	}

	.index-our-offer {
		margin-top: 15px;
	}

	.index-our-offer h2 {
		font-size: 22px;
	}

	.index-offer-all {
		column-count: 1;
	}

	/*Leistungen*/
	.leistungen-wrapper {
		column-count: 1;
	}

	.leistungen-single-div {
		margin-bottom: 45px;
	}

	#overlay-langzeitpflege {
		font-size: 15px;
	}

	/*Referenzen*/
	.referenzen-wrap {
		column-count: 1;
	}

	.referenzen-image img{
		width: 80vw;
	}

	/*Gartenmagazin*/

	#gartenmagazin iframe {
		height: 910px;
	}

	/*Kontakt*/
	.kontakt-all{
		flex-direction: column;
	}

	#kontakt-skizze{
		margin: 20px 0px;
	}

	/*Footer*/
	.footer-all {
		margin-top: 0px;
		height: auto;
	}
	.footer-all-divs {
		flex-direction: column;
		padding-top: 15px;
	}

	#footer-contact-data {
		margin-left: 15px;
	}

	#footer-google-maps{
		margin: auto;
	}

	#footer-google-maps iframe{
		width: 85vw;
	}

	.open-street-link{
		top: 215px;
	}
}